<header class="fixed top-0 w-full shadow-md bg-gray-950 dark:bg-gray-100 text-white dark:text-black z-50">
  <nav class="container mx-auto px-6 py-3">
    <div class="flex justify-between items-center">
      <div class="flex space-x-3">
        <div class=" inline-block max-w-full">
          <a class="mx-auto flex max-w-[42px] max-h-[42px] flex-col font-bold"
             href="/">
              <object data="/assets/img/bbnnn-logo.svg" type="image/svg+xml" class="fill-white dark:fill-black">
                <img src="/assets/img/bbnnn-logo.png" class="rounded-lg" />
              </object>
          </a>
          <!--<div class="mx-auto h-8 w-8 rotate-45 overflow-hidden">-->
          <!--  <img-->
          <!--      class="mx-auto h-full w-full -rotate-45 scale-125 object-cover transition duration-300 group-hover:scale-[1.4]"-->
          <!--      src="/assets/img/{{ site.logo }}"-->
          <!--      alt="Binary Bard: Navigating the Nexus of Nerdom Logo"-->
          <!--      loading="lazy"-->
          <!--      width="640"-->
          <!--      height="805"-->
          <!--  />-->
          <!--</div>-->
        </div>
        <a href="/" class="text-2xl font-bold">{{ site.title }}</a>
      </div>
      <div class="flex space-x-4">
        <!--<a href="#" class="hover:text-orange-400 dark:hover:text-orange-600">Home</a>-->
        <!--<a href="#" class="hover:text-orange-400 dark:hover:text-orange-600">About</a>-->
        <!--<a href="#" class="hover:text-orange-400 dark:hover:text-orange-600">Services</a>-->
        <!--<a href="#" class="hover:text-orange-400 dark:hover:text-orange-600">Contact</a>-->
      </div>
    </div>
  </nav>
</header>