{%- if site.social.facebook_username -%}
<a href="https://www.facebook.com/{{ site.social.facebook_username| cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.github_username -%}
<a href="https://github.com/{{ site.social.github_username| cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.instagram_username -%}
<a class="mx-auto flex max-w-[24px] flex-col font-bold"
   href="https://instagram.com/{{ site.social.instagram_username | cgi_escape | escape }}">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.linkedin_username -%}
<a href="https://www.linkedin.com/in/{{ site.social.linkedin_username| cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.pinterest_username -%}
<a href="https://www.pinterest.com/{{ site.social.pinterest_username| cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- for mst in site.social.mastodon -%}
  {%- if mst.username and mst.instance -%}
  <a href="https://{{ mst.instance| cgi_escape | escape}}/@{{mst.username}}"
     class="mx-auto flex max-w-[24px] flex-col font-bold">
      <svg class="svg-icon">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use>
      </svg>
  </a>
  {%- endif -%}
{%- endfor -%}
{%- if site.social.twitter_username -%}
<a href="https://www.twitter.com/{{ site.social.twitter_username | cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.youtube_username -%}
<a href="https://youtube.com/{{ site.social.youtube_username| cgi_escape | escape }}"
   class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
{%- if site.social.rss -%}
<a href="{{ 'feed.xml' | relative_url }}" class="mx-auto flex max-w-[24px] flex-col font-bold">
    <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
    </svg>
</a>
{%- endif -%}
