<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EFE5J1JCEM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EFE5J1JCEM');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}"/>
  </head>
  <body class="min-h-screen flex flex-col justify-between bg-gray-100 dark:bg-gray-950 dark:text-white">
    {%- include header.html -%}
    <main class="flex-grow pb-1 mt-16 antialiased">
      {{ content }}
    </main>
    {%- include footer.html -%}
  </body>
</html>
