---
layout: default
title: ""
---

<div class="bg-cover bg-middle min-h-[30vh] max-h-[30vh] mt-16"
     style="background-image: url({{ '/assets/img/hero.jpg' | relative_url }})">
    <div class="bg-white/85">
        <div class="max-w-4xl mx-auto pt-10 lg:pb-10 text-center">
            <div class="space-y-8 mt-8 lg:-mr-24 xl:-mr-0">
                <h1 class="text-4xl text-orange-600 font-bold md:text-5xl lg:leading-tight">Jordan Wamser</h1>
                <p class="text-lg text-gray-900">If you want anything to change, you are the only person you can hold
                    accountable.</p>
            </div>
        </div>
    </div>
    <!-- Photo by <a href="https://unsplash.com/@bernardhermant?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Bernard Hermant</a> on <a href="https://unsplash.com/photos/white-wall-tiles-SxNGG1MJ_IQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->
</div>
<div class="container m-auto px-6 py-20 md:pb-0 md:pt-40 md:px-12 lg:py-0 lg:px-10">
    <div class="lg:pt-16 lg:pb-10">
        <!-- TIMELINE -->
        <div class="max-w-2xl mx-auto">
        {%- if site.posts.size > 0 -%}
            <h2 class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
            <ol class="relative border-l border-gray-200 dark:border-gray-700">
                {%- for post in site.posts -%}
                    <li>
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <h3>
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>
                    </li>

                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <time class="mb-2 text-sm font-normal leading-none text-orange-400 dark:text-orange-500">
                        {{ post.date | date: date_format }}
                    </time>
                    <div
                        class="transition duration-300 ease-in-out hover:bg-zinc-100 px-6 pt-10 pb-8 hover:shadow-xl hover:ring-1 hover:ring-gray-900/5 sm:rounded-lg bg-zinc-200 shadow-sm">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                            {{ post.content | markdownify | strip_html | truncatewords: 50 }}
                        </p>
                        <a href="#"
                           class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-orange-200 border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Learn
                            more
                            <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>

                </li>
                {%- endfor -%}
            </ol>
            <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
            {%- else -%}
                <h2 class="text-4xl mb-3">Just getting me some Coffee</h2>
                <p>The journey here still awaits us! I need to make sure I get myself some coffee and wake up a bit more before we get started. Don't fret, though, we will be on our way shortly. The grand adventure through the nexus of nerdom shall be entertaining, thrilling, and exciting. We will be growing and experiencing the new world together! I can't wait to show you this fantastic world. Have any ideas you want to talk about before I get started? Reach out to me at any of the Social networks that are linked on the bottom of the site. </p>
            {%- endif -%}
        </div>
    </div>
</div>
